<div class="flex mt-4">
  <div class="w-1/2">
    <div class="grid grid-cols-2 gap-4 border   py-2 px-4">
      <div>Name of the Passenger</div>
      <div><%= @contact.name %></div>
    </div>
    <div class="grid grid-cols-2 gap-4 border   py-2 px-4">
      <div>Flight Number</div>
      <div><%= @application.flight_number %></div>
    </div>
    <div class="grid grid-cols-2 gap-4 border   py-2 px-4">
      <div>Passport Number</div>
      <div><%= @contact.passport_number %></div>
    </div>
    <div class="grid grid-cols-2 gap-4 border   py-2 px-4">
      <div>Nationality</div>
      <div>Indian</div>
    </div>
    <div class="grid grid-cols-2 gap-4 border   py-2 px-4">
      <div>Age</div>
      <div><%= @contact.age %></div>
    </div>
    <div class="grid grid-cols-2 gap-4 border   py-2 px-4">
      <div>Date of Arrival</div>
      <div><%= @contact.age %></div>
    </div>
    <div class="grid grid-cols-2 gap-4 border   py-2 px-4">
      <div>Date of Arrival</div>
      <div>Indian</div>
    </div>
  </div>
  <div class="w-1/2">
    <div class="grid grid-cols-2 gap-4 border   py-2 px-4">
      <div>Name of the Passenger</div>
      <div>9</div>
    </div>
    <div class="grid grid-cols-2 gap-4 border   py-2 px-4">
      <div>Flight Number</div>
      <div>9</div>
    </div>
    <div class="grid grid-cols-2 gap-4 border   py-2 px-4">
      <div>Passport Number</div>
      <div>9</div>
    </div>
    <div class="grid grid-cols-2 gap-4 border   py-2 px-4">
      <div>Nationality</div>
      <div>Indian</div>
    </div>
    <div class="grid grid-cols-2 gap-4 border   py-2 px-4">
      <div>Age</div>
      <div>Indian</div>
    </div>
    <div class="grid grid-cols-2 gap-4 border   py-2 px-4">
      <div>Date of Arrival</div>
      <div>Indian</div>
    </div>
    <div class="grid grid-cols-2 gap-4 border   py-2 px-4">
      <div>Date of Arrival</div>
      <div>Indian</div>
    </div>
  </div>
</div>